@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet');

.logo {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin: auto;
}

body {
  background-color: black;
}

/* STANDARD IMPORTS */
.shareButtonSpacing {
  width: 2.5vh;
  height: 2.5vh;
  margin-right: .3vh;
  margin-top: -3vw !important;
}

.text {
  color: #C0C0C0 !important;
  font-family: 'Noto Sans', sans-serif !important;
}

.input {
  color: #C0C0C0 !important;
  font-family: 'Noto Sans', sans-serif !important;
}
 
.headerText {
  color: #C0C0C0 !important;
  font-family: 'Noto Sans', sans-serif !important;
  background: -webkit-linear-gradient(left, #C0C0C0 0%,#D3D3D3 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#C0C0C0 67%,#000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  transition: 25s;
  animation: font-shine 25s infinite linear;
}


/* BUTTONS */
.buttonFormat {
  font-family: 'Noto Sans', sans-serif !important;
  margin-bottom: 2vw !important;
}

.buttonFormat:hover {
  color: green;
  cursor: pointer;
}

.bottomButton {
  margin-top: 3vh !important;
  margin-bottom: 3vh !important;
}

/* CARD */

.adjustCardBody {
  background-color: #000000 !important;
}

.cardBody {
  color: #C0C0C0;
  background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whiteHRLINE {
  background-color: #C0C0C0 !important;
  height: .1vh !important;
}

.lastCard { 
  margin-bottom: 5vw !important;
}

.cardFontMain {
  text-align: center;
  background: -webkit-linear-gradient(left, #C0C0C0 0%,#e5e5e5 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#cccccc 67%,#D3D3D3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif !important;
}

/* LOADER */

.loaderLight {
  letter-spacing: .5vh;
  background: -webkit-linear-gradient(left, #C0C0C0 0%,#D3D3D3 24%,#D3D3D3 36%,#C0C0C0 46%,#C0C0C0 52%,#C0C0C0 58%,#C0C0C0 67%,#000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  transition: 3s;
  animation: font-shine 3s infinite linear;
}

@keyframes font-shine {
  0% {background-position: 0% 0}
  100% {background-position: -100% 0}
}

.wp {
  margin-bottom: 3vw !important;
}